<div>
  <a [routerLink]="['/']">主页</a>
  <!--<a [routerLink]="['/product']" [queryParams]="{id:1}">商品详情</a>-->
  <!--[queryParams]="{id:1}",路由传递方法一，在查询参数中传递数据，在控制台构造函数里用ActivatedRoute.queryParams[id]来接收参数-->
  <a [routerLink]="['/product',1]">商品详情</a>
  <!--在路由路径中传递数据，需要一、修改路由配置中的path属性，使他可以携带参数   二、修改路由链接的参数来传递数据  三、-->
  <button (click)="toProductDetails()">商品详情</button>
  <!--事件绑定(click)="toProductDetails()"，click事件由toProductDetails方法来处理-->
  <a [routerLink]="[{outlets:{aux:'chat'}}]">开始聊天</a>
  <a [routerLink]="[{outlets:{aux:null}}]">结束聊天</a>
</div>
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>
